In [2]:
import pandas as pd
dataset=pd.read_csv("Pre_processed_Placement.csv")

In [5]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

#### Independant Sample
Diferrent Group(Male, Female) but same contion(salary)

Question: is significantly same the salary of male and female candiate?

In [6]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male = dataset[dataset['gender']=='M']['salary']
female = dataset[dataset['gender']=='F']['salary']
#print(male)
tAns=ttest_ind(male, female)

In [7]:
tAns.pvalue

0.03746230397067219

In [8]:
print("Null Hypothesis: There is no significantly same the salary of male and female candiate")
print("Alternate Hypothesis: There is significantly same the salary of male and female candiate ")
if(tAns.pvalue<0.05):
    print("Reject Null Hypothesis")
    print("Accept Alternate hypothesis")
    message="Accept Alternate hypothesis"
else:
    print("Reject Alternate Hypothesis")
    print("Accept Null hypothesis")
    message="Accept Null hypothesis"

Null Hypothesis: There is no significantly same the salary of male and female candiate
Alternate Hypothesis: There is significantly same the salary of male and female candiate
Reject Null Hypothesis
Accept Alternate hypothesis

#### Dependant Sample
Same Group(Male) but Different Condition(ssc_p,hsc_p)

In [9]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
male = dataset[dataset['gender']=='M']['ssc_p']
male1 = dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male, male1)

Ttest_relResult(statistic=0.6842940392688153, pvalue=0.4949370716000775)

In [10]:
import scipy.stats as stats

stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=0.695991304348204, pvalue=0.49895574725815317)

In [12]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#perform two-way ANOVA
model = ols('degree_p ~ C(ssc_p) + C(hsc_p) + C(ssc_p):C(hsc_p)', data=dataset).fit()
ttest=sm.stats.anova_lm(model, typ=2)

C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:1873: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 102, but rank is 3
  'rank is %d' % (J, J_), ValueWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:1873: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 90, but rank is 3
  'rank is %d' % (J, J_), ValueWarning)
C:\ProgramData\Anaconda3\envs\aiml\lib\site-packages\statsmodels\base\model.py:1873: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 9180, but rank is 195
  'rank is %d' % (J, J_), ValueWarning)

In [13]:
ttest

                          sum_sq      df         F    PR(>F)
C(ssc_p)            30581.168297   102.0  9.700969  0.001014
C(hsc_p)            15396.892039    90.0  5.535435  0.010187
C(ssc_p):C(hsc_p)  615421.159281  9180.0  2.169157  0.049107
Residual              432.680000    14.0       NaN       NaN

In [ ]:
dir(stats)